extends layout

block content
  h1(class="heading-text") #{title}<span class="dot"></span> 

  if author_list.length
    dl
      each author in author_list
        li(class="list-unstyled")
          a(href=author.url) #{author.name}
          |  
          if author.date_of_death && author.date_of_birth
            | #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}
          else if !author.date_of_birth && !author.date_of_death 
            | No data available  
          else 
            | #{author.date_of_birth_formatted} - Present  
        p     
          
  else
    p There are no authors.
  script(src='/javascript/redDotToggle.js')    
