extends layout

block content
  h1(class="heading-text")(style="font-size: 70px") #{title}<span class="dot"></span> 
  h3(class="heading-text") #{author.name}
  p 
  if author.date_of_death && author.date_of_birth
    | #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}
  else if !author.date_of_birth && !author.date_of_death 
    | No data available  
  else 
    | #{author.date_of_birth_formatted} - Present   

  div(style='margin-top:20px')

    h4(class="heading-text") Books
    if author_books.length
      dl
        each book in author_books
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else
      p This author has no books.

  hr
  p 
    a(href=author.url+'/delete') Delete Author
  p
    a(href=author.url+'/update') Update Author
  script(src='/javascript/redDotToggle.js')     