extends layout

block content

  h1(class="heading-text") #{genre.name}<span class="dot"></span> 

  div(style='margin-top:20px')

    h2(class="heading-text") Books
    if genre_books.length
      dl
        each book in genre_books
          li(class="list-unstyled")
            a(href=book.url) #{book.title}
          |#{book.summary}
          p
    else
      p This genre has no books.
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre
  script(src='/javascript/redDotToggle.js')    