extends layout

block content
  h1= title
  p Welcome to #[em ReadersCult], feed your curiosity and desire to explore one book at a time!

  h1 The library currently has...

  ul
    li #[strong Books:] !{book_count}
    li #[strong Copies:] !{book_instance_count}
    li #[strong Copies available:] !{book_available_count}
    li #[strong Authors:] !{author_count}
    li #[strong Genres:] !{genre_count}
