extends layout

block content
  h1(class="heading-text") #{title}<span class="dot"></span> 
  p(class="text-white font-weight-lighter") welcome to #[em ReadersCult]. read. explore. imagine.

  h2(class="heading-text") The library currently has
  dl(class="list-unstyled ml-3")
    <em style="color: darkred; font-size: 40px; font-weight: bold">!{book_count}</em> Books 
    <em style="color: darkred; font-size: 40px; margin-left: 1rem; font-weight: bold">!{book_instance_count}</em> Copies
    <em style="color: darkred; font-size: 40px; margin-left: 1rem; font-weight: bold">!{book_available_count}</em> Copies available 
    li <em style="color: darkred; font-size: 40px; font-weight: bold">!{author_count}</em> Authors 
      <em style="color: darkred; font-size: 40px; margin-left: 1rem; font-weight: bold">!{genre_count}</em> Genres
  script(src='/javascript/redDotToggle.js') 
